<section>
  <header>
    <h1>Something Ipsum</h1>
  </header>
  
  <div class="section-content">
    <ul class="words">
        <li><a href="" class="one" data-info="words" data-length="1">One Thing</a></li>
        <li><a href="" data-info="words" data-length="2">Two Things</a></li>
        <li><a href="" data-info="words" data-length="3">Three Things</a></li>
        <li><a href="" data-info="words" data-length="4">Four Things</a></li>
    </ul>
    <ul class="sentence">
        <li><a href="" data-info="sentences" data-length="1">One Sentence</a></li>
        <li><a href="" data-info="sentences" data-length="2">Two Sentences</a></li>
        <li><a href="" data-info="sentences" data-length="3">Three Sentences</a></li>
        <li><a href="" data-info="sentences" data-length="4">Four Sentences</a></li>
    </ul>
    <ul class="paragraph">
        <li><a href="" data-info="paragraphs" data-length="1">One Paragraph</a></li>
        <li><a href="" data-info="paragraphs" data-length="2">Two Paragraph</a></li>
        <li><a href="" data-info="paragraphs" data-length="3">Three Paragraph</a></li>
        <li><a href="" data-info="paragraphs" data-length="4">Four Paragraph</a></li>
    </ul>
  </div>
  <div id="copy">
    
  </div>
</section>
